body{
    padding: 200px 270px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.89),rgb(56, 11, 99),rgba(0, 0, 0, 0.89));
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 740px;
    height: 250px;
    border: 1px solid black;
    padding: 3px 7px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.row1{
    width: 36px;
    height: 22px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.89);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 134, 134);
    box-shadow: 1px 1px 4px 2px rgba(189, 11, 212, 0.829);
}
.row2{
    width: 40px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.89);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 134, 134);
    box-shadow: 1px 1px 4px 2px rgba(189, 11, 212, 0.829);
}
.row3{
    width: 40px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.89);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 134, 134);
    box-shadow: 1px 1px 4px 2px rgba(189, 11, 212, 0.829);
}
.row4{
    width: 40px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.89);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 134, 134);
    box-shadow: 1px 1px 4px 2px rgba(189, 11, 212, 0.829);
}
.row5{
    width: 40px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.89);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 134, 134);
    box-shadow: 1px 1px 4px 2px rgba(189, 11, 212, 0.829);
}
.row6{
    width: 40px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.89);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 134, 134);
    box-shadow: 1px 1px 4px 2px rgba(189, 11, 212, 0.829);
}


.div1{
    display: flex;
    justify-content: space-between;
    margin-top: -2px;
}
.div2{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;

}
.div3{
    display: flex;
    justify-content: space-between;
}
.div4{
    display: flex;
    justify-content: space-between;
}
.div5{
    display: flex;
    justify-content: space-between;
}
.div6{
    display: flex;
    justify-content: space-between;
}
.back{
    width: 70px;
    font-size: 10px;
}
.shift1{
    width: 86px;
    font-size: 10px;
}
.shift2{
    width: 96px;
    font-size: 10px;
}
.enter{
    width: 74px;
    font-size: 10px;
}
.caps{
    width:74px ; 
    font-size: 10px;
}
.space{
    width: 264px;
    font-size: 10px;
}
.pgdn{
    height: 17px;
    margin-top: 2px;
    font-size: 10px;
}
.pgup{
    height: 17px;
    font-size: 10px;
}
.pgrow{
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ar1{
    rotate: 90deg;
}
.size{
    font-size: 12px;
}